{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container">

    <h2 class="productos">Nuestros Productos</h2>

    <!--cards-->
    <div class="grid__card">
        <div class="card" style="width: 100%;" style="background-color: aqua;">
            <img src="{% static 'img/productos/1.jpg' %}" class="card-img-top" alt="VuejJs">
            <div class="card-body">
              <h5 class="card-title">VueJs</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">AngularJs</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">React</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/4.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Redux</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/5.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Node</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/6.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SASS</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/7.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HTML</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/8.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">GitHub</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/9.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bulma</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/10.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TypeScript</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/11.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Drupal</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card" style="width: 100%;">
            <img src="{% static 'img/productos/12.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">JavaScript</h5>
              <p class="card-text">¡Sumérgete en la comodidad y el estilo con nuestra polera de algodón premium!</p>
              <a href="{% url 'agregar' %}" class="btn btn-primary">Comprar</a>
            </div>
          </div>
    </div>
</main>

{% endblock %}